#cloud-config
ssh_import_id:
  - gh:{{ github_username }}
runcmd:
  - |
    cat << 'EOF' >> /root/.env
    PHP_VERSION=7.4
    # @see env.example
    EOF
  # bootstrap
  - curl -sSL https://git.io/J3yLS | bash

  # LANG:php
  - curl -sSL https://git.io/J3MVp | bash
  # LANG:nodejs
  - curl -sSL https://git.io/J3MoH | bash
  # LANG:ruby
  - curl -sSL https://git.io/JuUWo | bash

  # DB:mariadb
  - curl -sSL https://git.io/J3MKe | bash
  # DB:mysql
  - curl -sSL https://git.io/JRvwE | bash
  # DB:postgresql
  - curl -sSL https://git.io/JuU43 | bash

  # project
  - curl -sSL https://git.io/J8k2W | bash

  # APP:drupal
  - curl -sSL https://git.io/J3MKt | bash
  # APP:hugo
  - curl -sSL https://git.io/Jnt2g | bash
  # APP:rails
  - curl -sSL https://git.io/JuesX | bash
  