# bootstrap
UBUNTU_SWAP=
UBUNTU_PERMIT_PASS=
UBUNTU_USER_ID=
UBUNTU_USER_PASS=
UBUNTU_USER_SUDO=
USER_PUBLIC_KEY=
USER_PRIVATE_KEY=


# project
PROJECT_CODE=
PROJECT_ENV=
PROJECT_GITREPO=
PROJECT_ROOT=


# lang:php
PHP_VERSION=
PHP_UPLOAD_MAX_SIZE=
PHP_UPLOAD_MAX_FILES=

# lang:ruby
RUBY_VERSION=

# lang:java
JAVA_VERSION=

# lang:node
NODE_VERSION=


# database:postgresql
PSQL_VERSION=
PSQL_ROOT_PASSWORD=
PSQL_USER=
PSQL_USER_PASS=
PSQL_DATABASE=

# database:mysql|mariadb
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_USER_PASS=
MYSQL_DATABASE=
MYSQL_DATADIR=
MYSQL_INITDB=


# app:rails
RAILS_DB=
RAILS_QUEUE=
RAILS_CACHE=

# app:drush
STAGE_HOST=
STAGE_SSH_PORT=
STAGE_USER=
STAGE_ROOT=
STAGE_URI=
STAGE_PEM_KEY=
PROD_HOST=
PROD_SSH_PORT=
PROD_USER=
PROD_ROOT=
PROD_URI=
PROD_PEM_KEY=

# app:rclone
RCLONE_CONF=
FUSE_CONF=
